.category-btn:hover{
    background-color: #76323f !important ;
    color: white !important;
}
.category-btn:hover span{
    color: white !important;
}
.category-btn{
    border: none;
    padding: 7px 15px;
    margin: 10px 0;
    /* border-radius: 20px; */
    transition: all 0.3s ease;
    text-transform: capitalize;
    font-weight: bold !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    outline: none;
}
::-webkit-scrollbar{
    width: 0;
    height: 4px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}